.tag-container {
    flex-grow: 0;
    flex-direction: row;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 2px;
}

.tag-id {
    opacity: 0.3;
}

.tag-counter {
    min-width: 20px;
    -unity-text-align: upper-right;
}

.tag-name {
}
